<head>
  <meta http-equiv="Refresh" content="1"> 
</head>

<style>
  body {margin: 40px; font-family: sans-serif; font-size: 16px;}
  h1, p {margin: 0; padding: 0;}
  h1 {font-size: 46px; margin: 0 auto; text-align: center;}
  p {display: none;}
</style>

<body>
  <p><%= @nomes_count %> nomes </p>
  <p><%= @apelidos_count %> apelidos</p>
  <h1><%= @nome1 %> <%= @apelido1 %> <%= @apelido2%></h1>

<bod>